<h1>{{title}}</h1> <!---Это отображено на начальной странице--->
<!---ОБРАТИТЬ ВНИМАНИЕ! Поскольку страницы НЕ обновляются, первоначальная запись измениться НЕ МОЖЕТ 
Т.е. этот заголовок ЖЕЛЕЗНО останется на странице. Можно его вообще убрать, чтобы он не маячил на всех страницах, показанных после перенаправления router-outlet--->
<!---Добавили на начальную страницу 2 ссылки--->
<nav>
  <a routerLink="/dashboard">Dashboard</a><p>
  <a routerLink="/heroes">Heroes</a>  <!---таким образом добавили ссылку на /heroes. Т.е. при нажатии на Heroes, RouterModule сгенерирует ссылку https://complicated-one.stackblitz.io/heroes и перейдет по ней--->
</nav>
<router-outlet></router-outlet> <!--- <router-outlet> нужен для того, чтобы перенаправлять пользователя в зависимости от пути, по которому прошел браузер. Т.е. браузер будет перенаправлять страницы В ЭТОТ КУСОК HTML ФРАГМЕНТА.
  ВСЕ, ЧТО ПОСЛЕ router-outlet - в ведении перенаправлений. Все, что до -  не меняется>
<app-messages></app-messages> <!---в данное место html файла вставляем html код из другого модуля по имени селектора app-heroes,app-messages, router-outlet  и т.д.--->